/* frontend/src/components/auth/Auth.css */
.AuthContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #1e1e1e 30%, #3d3d3d 100%);
}

.auth-background {
    background-image: url('/chatcora-login.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}


.MuiPaper-root {
    background-color: #2e2e2e;
    color: #fff;
}

.MuiTypography-root {
    color: #fff;
}

.MuiLink-root {
    color: #90caf9;
}

.MuiButton-containedPrimary {
    background-color: #90caf9;
    color: #1e1e1e;
}

.MuiButton-containedPrimary:hover {
    background-color: #64b5f6;
}

.MuiTextField-root .MuiInputBase-input {
    color: #fff;
}

.MuiTextField-root .MuiInputLabel-root {
    color: #90caf9;
}

.MuiTextField-root .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: #90caf9;
}

.MuiTextField-root .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #64b5f6;
}

.MuiTextField-root .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #42a5f5;
}
