/* frontend/src/index.css */
:root {
    --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --line-height: 1.5;
    --font-weight: 400;

    --text-color-light: #213547;
    --background-color-light: #ffffff;

    --text-color-dark: rgba(255, 255, 255, 0.87);
    --background-color-dark: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Default font size */
    --font-size: 16px;

    /* Responsive font sizes */
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 18px;
}

html {
    font-size: var(--font-size);
}

@media (max-width: 600px) {
    html {
        font-size: var(--font-size-sm);
    }
}

@media (min-width: 600px) and (max-width: 1200px) {
    html {
        font-size: var(--font-size-md);
    }
}

@media (min-width: 1200px) {
    html {
        font-size: var(--font-size-lg);
    }
}

body, html, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    font-family: var(--font-family);
    line-height: var(--line-height);
    font-weight: var(--font-weight);
}

body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
